<%- include ("partials/header.ejs") %>

<main class="cd-main-content">
	<div class="content-wrapper">
		<!-- Page Content -->
		<div id="page-content-wrapper uk-margin-top">

			<div class="uk-container uk-container-medium uk-width-1-1 uk-padding-remove-horizontal" id="content">

				<div id="home"> <%- include ("partials/about.ejs") %> </div>

			</div>

		</div>
		<!-- /#page-content-wrapper -->
	</div> <!-- .content-wrapper -->
</main> <!-- .cd-main-content -->

<%- include ("partials/footer.ejs") %>

<script src="/js/jquery.menu-aim.js"></script>
<script src="/js/main.js"></script> <!-- Resource jQuery -->
<!-- <script src="js/page.min.js"></script> -->
<script>

</script>
<script>
	function get_content(tpl, div) {
		$.get(tpl, function (result) {
			$result = $(result);

			$(div).html(result);
			$result.find('script').appendTo(div);
		}, 'html');
	}
	// crossroads.addRoute('/{section}/{subsection}', function(section, subsection){  
	//   window.target = subsection;
	//   get_content('templates/'+section+'.html', '#content');
	//   removeHash();
	// });
	// crossroads.addRoute('/{section}', function (section, ) {
	// 	window.target = null;
	// 	get_content('/templates/' + section + '.ejs', '#content');
	// 	removeHash();
	// });
	// crossroads.addRoute('/', function (id) {
	// 	window.target = null;
	// 	get_content('./../views/templates/home.ejs', '#content');
	// 	removeHash();
	// });

	//setup hasher
	function parseHash(newHash, oldHash) {
		crossroads.parse(newHash);
	}
	hasher.initialized.add(parseHash); //parse initial hash
	hasher.changed.add(parseHash); //parse hash changes
	hasher.init(); //start listening for history change

	function removeHash() {
		var scrollV, scrollH, loc = window.location;
		if ("pushState" in history) {
			history.pushState("", document.title, loc.pathname + loc.search);
		} else {
			// Prevent scrolling by storing the page's current scroll offset
			scrollV = document.body.scrollTop;
			scrollH = document.body.scrollLeft;

			loc.hash = "";

			// Restore the scroll offset, should be flicker free
			document.body.scrollTop = scrollV;
			document.body.scrollLeft = scrollH;
		}
	}

	function toSubsection(subsection) {
		UIkit.scroll('#content', {
			offset: 50
		}).scrollTo('#' + subsection);
	}
	const kebabCase = str => str.match(/[A-Z]{2,}(?=[A-Z][a-z0-9]*|\b)|[A-Z]?[a-z0-9]*|[A-Z]|[0-9]+/g)
		.filter(Boolean)
		.map(x => x.toLowerCase())
		.join('-');
</script>

</body>

</html>